/* ==========================================================================
   MAIN COLORS
   ========================================================================== */
$black: #212121;
$red: #F44336;
$green: #4CAF50;
$blue: #2196F3;
$yellow: #FFEB3B;
$magenta: #ff79c6;
$cyan: #00BCD4;
$grey: #9E9E9E;